<!DOCTYPE html>
<html>
    <head>
        <title>Coinex API</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/mystyle.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/myfunc.js"></script>
        <script src="/static/js/alert.js"></script>
    </head>
    <body class="">
            
        <div class="container-fluid mt-5 text-black">

            <div class="row">
                <div class="col-12">
                    <div class="card text-white mt-2">
                        <div class="card-body text-center">
                            <h3 class="text-center">You are banned for some reasons.Please Contact to admin.</h3>
                            <a href="mailto:qasem.talaee1375@gmail.com" class="btn btn-warning">Contact to admin</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>          
    </body>
    <div class="card text-white mt-2">
    </div>
    <footer class="container-fluid text-white text-center text-center footer mt-3 p-1">
        <p><p>Developed with <span class="text-danger">&#10084;</span> by <a class="btn btn-warning" href="https://github.com/qasem-talaee" target="_blank">Qasem Talaee</a> (<script>const d = new Date();let year = d.getFullYear(); document.write("2021 - " + year);</script>)</p></p>
    </footer> 
</html>